.container {
    width: 90vw;
    max-width: 1440px;
    margin: auto;
    }

.call-to-action-btn {
    transition: all 0.3s;
}

.focus {
  color: white;
}

.fade-in {
  opacity: 0.01;
  transition: 0.5s ease-in-out;
  filter: blur(1px);
}
.fade-in-up {
  opacity: 0.01;
  transform: translate(0px, 30px);
  filter: blur(1px);
  transition: 600ms ease-in-out;
}
.fade-in-left {
  opacity: 0.01;
  transform: translate(20%, 0px);
  filter: blur(5px);
  transition: 600ms ease-in-out;
}
.fade-in-right {
  opacity: 0.01;
  transform: translate(-20%, 0px);
  filter: blur(5px);
  transition: 600ms ease-in-out;
}
.clip-in {
  opacity: 0.01;
  filter: blur(5px);
  transform: translate(0px, 20px);
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: 500ms ease-in;
}
.appear {
  opacity: 1;
  transform: translate(0px, 0px);
  /* z-index: 0; */
  filter: blur(0);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
  

@media (min-width: 1250px) {
    .container {
        width: 95vw;
        margin: auto;
        }
}
