---
import Layout from '../layouts/Layout.astro'
import '../styles/app.css'
import '../utils.ts'
import '../styles/carousel.css'
import '../styles/testimonials.css'
---

<Layout title="Commercial Electrical Services | Melbourne" description="Discover top-tier commercial electrical services in Melbourne. Our team of reliable, experienced electricians specializes in delivering successful projects, ensuring professional and trustworthy service every time."> 
    <section class=" h-[70vh] xl:h-[90vh] bg-[url('../images/commercial.webp')] bg-cover bg-left-top">
        <div class="absolute bg-black bg-opacity-40 h-[70vh] xl:h-[90vh] w-full"></div>
        <div class="container pt-[30vh] relative z-10 xl:pt-[40vh]">
            <p class="font-deco text-[#77B523] mb-2 text-sm font-bold clip-in">Residential & Commercial & Industrial Electrician </p>
            <h1 class="font-heading text-white text-3xl font-bold mb-4 xl:text-5xl xl:w-[60%] fade-in-up">Commercial Electrician Melbourne</h1>
        </div>
    </section>
    <section class="rounded-b-[2rem] py-12 xl:py-20">
        <div class="container xl:flex justify-between gap-16">
          <div class="mb-4 xl:w-[80%] fade-in-up">
            <h4 class="font-heading text-[#141E05] font-bold text-2xl leading-7 xl:text-4xl">Are you looking for a Commercial electrician in Melbourne you can rely on?</h4>
          </div>
          <div>
            <p class="text-[#141E05] mb-4 font-thin fade-in-up xl:text-xl">We offer a comprehensive selection of commercial electrical services, all delivered by professional, trustworthy and highly experienced electricians with record of successfully delivering major projects.</p>
            <button class="call-to-action-btn mt-6"><a class="bg-[#77B523] py-3 px-3 rounded-xl text-white hover:bg-[#141E05] hover:border-2 hover:border-[#77B523] duration-300 fade-in" href="#">Request a free quote</a></button>
          </div>
        </div>
      </section>
      <section class="py-16 xl:py-20 bg-[#141E05] rounded-[2rem] relative z-0">
        <img src="../images/group-3.svg" class="absolute right-[0%] top-[0%] left-auto bottom-auto -z-10 fade-in" alt="">
        <div class="container xl:pr-[30%]">
          <p class="font-deco text-sm font-thin text-[#77B523] mb-2 clip-in">Commercial</p>
          <h2 class="font-heading text-white font-bold text-2xl leading-6 mb-4 xl:text-4xl fade-in-up">No Nonsense Commercial Electrical Services Melbourne</h2>
          <p class="text-white mb-10 fade-in-up">We offer comprehensive electrical services for commercial and industrial properties. Our expertise includes Single Phase 230V and Three Phase 400V installations. Whether it's new build constructions, renovations, or alterations, we deliver the electrical solutions you need.</p>
          <div class="mb-10 xl:grid xl:grid-cols-2 xl:gap-1 fade-in-up">
            <div class="flex border-white bg-white uppercase border-2 rounded-2xl px-4 py-2 mb-2 xl:mr-6">
              <img class="w-10 mr-6" src="../images/glove.png" alt="">
              <p class="font-bold content-center">Office fit outs</p>
            </div>
            <div class="flex border-white bg-white uppercase  border-2 rounded-2xl px-4 py-2  mb-2 xl:mr-6">
              <img class="w-10 mr-6" src="../images/glove.png" alt="">
              <p class="font-bold content-center">Data Points</p>
            </div>
            <div class="flex border-white bg-white uppercase  border-2 rounded-2xl px-4 py-2  mb-2 xl:mr-6">
              <img class="w-10 mr-6" src="../images/glove.png" alt="">
              <p class="font-bold content-center">Feature lighting</p>
            </div>
            <div class="flex border-white bg-white uppercase  border-2 rounded-2xl px-4 py-2  mb-2 xl:mr-6">
              <img class="w-10 mr-6" src="../images/glove.png" alt="">
              <p class="font-bold content-center">Testing and tagging</p>
            </div>
            <div class="flex border-white bg-white uppercase  border-2 rounded-2xl px-4 py-2  mb-2 xl:mr-6">
              <img class="w-10 mr-6" src="../images/glove.png" alt="">
              <p class="font-bold content-center">factory fit-outs</p>
            </div>
            <div class="flex border-white bg-white uppercase  border-2 rounded-2xl px-4 py-2  mb-2 xl:mr-6">
              <img class="w-10 mr-6" src="../images/glove.png" alt="">
              <p class="font-bold content-center">Telecommunications</p>
            </div>
            <div class="flex border-white bg-white uppercase  border-2 rounded-2xl px-4 py-2  mb-2 xl:mr-6">
              <img class="w-10 mr-6" src="../images/glove.png" alt="">
              <p class="font-bold content-center">Air Conditioning Feeds</p>
            </div>
            <div class="flex border-white bg-white uppercase  border-2 rounded-2xl px-4 py-2  mb-2 xl:mr-6">
              <img class="w-10 mr-6" src="../images/glove.png" alt="">
              <p class="font-bold content-center">Motion sensors</p>
            </div>
            <div class="flex border-white bg-white uppercase  border-2 rounded-2xl px-4 py-2  mb-2 xl:mr-6">
              <img class="w-10 mr-6" src="../images/glove.png" alt="">
              <p class="font-bold content-center">Vehicle Charging Point</p>
            </div>
            <div class="flex border-white bg-white uppercase  border-2 rounded-2xl px-4 py-2  mb-2 xl:mr-6">
              <img class="w-10 mr-6" src="../images/glove.png" alt="">
              <p class="font-bold content-center">Landscape Lighting</p>
            </div>
          </div>
          <p class="text-[#77B523] font-bold font-deco text-lg">Other services upon request..</p>
        </div>
      </section>
      <section class="my-12 xl:my-36">
        <div class="container relative">
          <div class="w-[80%] xl:w-[60%] m-auto">
            <p class="font-deco text-sm font-thin text-[#77B523] mb-2 text-center clip-in">Customer Reviews</p>
            <h2 class="font-heading text-[#141E05] font-bold text-2xl leading-6 mb-4 text-center w-[80%] m-auto xl:text-4xl xl:mb-2 fade-in-up">
              What our clients say about us
            </h2>
            <div class="testimonial-carousel fade-in-up">
              <div class="testimonial-item active-testimonial">
                <p class="text-center mb-4">Professional, knowledgeable, responsible and hard worker, Jack is what you are looking for in an electrician to trust the work in your house. His work is exceptional and I can’t recommend him enough. The job is never too small or never too difficult, always “a can do” attitude which is exactly what I was looking for.</p>
                <p class="font-deco text-sm font-thin text-[#77B523] mb-2 text-center">Johnny Gallardo</p>
              </div>
              <div class="testimonial-item">
                <p class="text-center mb-4">Very happy with Jack and the work we got done. Turned around a quote quickly and we were able to book it in shortly afterwards. Had great comms and the workmanship was excellent. Got an EV charger, several fans, and a new powerpoint installed. Would highly recommend Harrington Electrical.</p>
                <p class="font-deco text-sm font-thin text-[#77B523] mb-2 text-center">Ettienne Gous</p>
              </div>
              <div class="testimonial-item">
                <p class="text-center mb-4">Jack was amazing! He was punctual, professional and nothing was too difficult. I can't recommend Jack highly enough.  It is great to have a hard working honest, friendly electrician making everything just right in your home.</p>
                <p class="font-deco text-sm font-thin text-[#77B523] mb-2 text-center">Diane Alice</p>
              </div>

              <!-- Add more testimonials as needed -->
            </div>
            <div class="testimonial-pagination fade-in-up">
              <span class="dot active"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <!-- Add more dots as needed -->
            </div>
          </div>
          <div class="testimonial-controls fade-in-up xl:absolute xl:w-full">
            <button class="prev-arrow"><img src="../images/left-arrow.svg" class="h-5" alt=""></button>
            <button class="next-arrow"><img src="../images/right-arrow.svg" class="h-5" alt=""></button>
          </div>
        </div>
      </section>
      <section class=" mb-10 py-16 bg-[#141E05] rounded-[2rem] relative z-0 fade-in-up">
        <img src="../images/group-4.svg" class="absolute left-[0%] top-[0%] right-auto bottom-auto -z-10" alt="">
        <div class="container xl:pl-[30%]">
          <p class="font-deco text-sm font-thin text-[#77B523] mb- clip-in">Fast free quote</p>
          <h3 class="font-heading text-white font-bold text-2xl leading-6 mb-4 xl:text-4xl fade-in-up">Request a quote</h3>
          <p class="text-white mb-8">Need professional electrical services? Just fill out the form below with your specific needs, and we'll take care of the rest.</p>
          <form name="quote" method="POST" data-netlify="true" data-netlify-honeypot="bot-field" action="/success">
            <input name="bot-field" class="hidden" type="text">
            <input type="text" name="name" id="name" placeholder="Name" class="block w-full mb-4 py-2 px-2 rounded-md fade-in-up  focus:outline-none " required>
            <input type="email" name="email" id="email" placeholder="Email" class="block w-full mb-4 py-2 px-2 rounded-md fade-in-up  focus:outline-none" required>
            <input type="tel" name="tel" id="tel" placeholder="Phone number" class="block w-full mb-4 py-2 px-2 rounded-md fade-in-up  focus:outline-none" required>
            <input type="text" name="location" id="location" placeholder="Location" class="block w-full mb-4 py-2 px-2 rounded-md fade-in-up  focus:outline-none" required>
            <textarea name="message" id="message" placeholder="Job details" class="block w-full mb-8 py-2 px-2 rounded-md fade-in-up  focus:outline-none h-[150px]" required></textarea>
            <button class="bg-[#77B523] py-3 px-6 rounded-xl text-white font-deco text-sm hover:bg-[#141E05] hover:border-2 hover:border-[#77B523] duration-300 fade-in " type="submit">Send quote request</button>
          </form>
        </div>
      </section>
      
</Layout>

<script src="../script.ts"></script>

